:root {
  /* Global color schema */
  --c-primary: #782bf1;

  /* Light theme */
  --c-light-text: #333;
  --c-light-background: #fff;
  --c-light-focus: deepskyblue;
  --c-light-interactive: mediumvioletred;

  /* Dark theme */
  --c-dark-text: #fff;
  --c-dark-background: #333;
  --c-dark-focus: deeppink;
  --c-dark-interactive: palegreen;

  --h-dark-background-1: #101010;
  --h-dark-background-2: #151515;
}

body * {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
}

a {
  color: var(--c-interactive);
}

}

  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
}

  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  --c-focus: var(--c-dark-focus);
  --c-interactive: var(--c-dark-interactive);
}

* {
  margin: 0;
  padding: 0;

}

}
