---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="carousel-wrapper">
			<Carousel featured={true} title={"Publicações recentes"} amount={3} category="Frontend" />
		</div>
		<div class="carousel-wrapper">
			<Carousel title={"Frontend"} amount={3} category="Frontend" />
		</div>
		<div class="carousel-wrapper">
			<Carousel title={"Backend"} amount={3} category="Frontend" />
		</div>
	</main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
		margin-top: clamp(100px, 6vw, 235px);
    max-width: 1235px;
    width: 100%;

    box-sizing: border-box;

    gap: 100px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;

    gap: 35px;
  }
</style>
