---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="carousel-wrapper">
			<h1>Frontend</h1>

			<Carousel amount={2} category="Frontend" />
		</div>
		<div class="carousel-wrapper">
			<h1>React</h1>
			<Carousel amount={3} category="React" />
		</div>
		<div class="carousel-wrapper">
			<h1>Hooks</h1>
			<Carousel amount={3} category="Hooks" />
		</div>
	</main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    max-width: 1235px;

    gap: 100px;
  }

  h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;

    gap: 35px;
  }
</style>
