---
---

<a class="logo-wrapper" href="/">
    <svg class="logo-icon" width="30" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.8133 17.1923L13.1132 24.8621L17.008 28.7147L29.898 15.9524C33.0216 12.5679 33.8195 9.63766 32.1402 5.96219L24.7348 13.322L22.7786 11.3824L18.9106 15.2616L20.8133 17.1923Z" />
        <path d="M28.308 2.12729L9.24533 21.1158L2.97449 14.8453C1.82619 13.4289 1.43063 12.4699 1.02714 10.5588C0.625158 4.74884 4.74319 1.15307 9.77237 1.30363C12.1359 1.60853 13.3045 2.11024 15.0338 3.7569L11.1212 7.60065C9.4656 5.98393 7.25067 6.91896 6.6646 8.63011C6.10614 10.2607 7.6195 11.7272 8.86988 12.9134L9.2632 13.2866L18.7499 3.7569C21.7959 1.09107 24.7706 0.639389 28.308 2.12729Z" />
        <path d="M20.8133 17.1923L13.1132 24.8621L17.008 28.7147L29.898 15.9524C33.0216 12.5679 33.8195 9.63766 32.1402 5.96219L24.7348 13.322L22.7786 11.3824L18.9106 15.2616L20.8133 17.1923Z" />
        <path d="M28.308 2.12729L9.24533 21.1158L2.97449 14.8453C1.82619 13.4289 1.43063 12.4699 1.02714 10.5588C0.625158 4.74884 4.74319 1.15307 9.77237 1.30363C12.1359 1.60853 13.3045 2.11024 15.0338 3.7569L11.1212 7.60065C9.4656 5.98393 7.25067 6.91896 6.6646 8.63011C6.10614 10.2607 7.6195 11.7272 8.86988 12.9134L9.2632 13.2866L18.7499 3.7569C21.7959 1.09107 24.7706 0.639389 28.308 2.12729Z" />
    </svg>

    <svg class="logo-text" width="120" height="32" viewBox="0 0 158 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.3725 24.8547C30.629 24.8547 29.0799 24.4822 27.7318 23.7374C26.3805 22.9925 25.3225 21.9444 24.5546 20.5964C23.7866 19.2483 23.401 17.6894 23.401 15.9195C23.401 14.1496 23.7801 12.5346 24.5348 11.1371C25.2896 9.73964 26.3377 8.65199 27.6758 7.87415C29.014 7.09302 30.5894 6.7041 32.4054 6.7041C34.1028 6.7041 35.6057 7.07654 36.9076 7.82141C38.2095 8.56629 39.228 9.58473 39.9629 10.8767C40.6946 12.1687 41.0638 13.6057 41.0638 15.1878C41.0638 15.4449 41.0572 15.7118 41.0473 15.992C41.0341 16.2721 41.0176 16.5622 40.9946 16.8654H27.8373C27.9296 18.2134 28.4009 19.2747 29.2512 20.0426C30.1016 20.8106 31.1299 21.1929 32.3395 21.1929C33.2459 21.1929 34.0073 20.9886 34.6269 20.5832C35.2432 20.1778 35.7046 19.6471 36.0046 18.9945H40.543C40.2167 20.0888 39.6762 21.0842 38.9215 21.9773C38.1667 22.8738 37.2339 23.5792 36.1298 24.09C35.0257 24.6009 33.7732 24.858 32.3791 24.858L32.3725 24.8547ZM32.4087 10.3362C31.3145 10.3362 30.3488 10.6427 29.5116 11.2623C28.6745 11.8787 28.1405 12.8147 27.9065 14.0705H36.5253C36.4561 12.9301 36.0375 12.0237 35.2696 11.348C34.5016 10.6724 33.5491 10.3362 32.4087 10.3362Z" fill="#782BF1"/>
        <path d="M56.1062 24.4326V19.8941H44.0663V16.3345L55.513 0H60.5722V16.0181H63.7824V19.8908H60.5722V24.4293H56.1062V24.4326ZM48.8454 16.0214H56.3831V4.92409L48.8454 16.0214Z" fill="#782BF1"/>
        <path d="M67.2036 24.4328V7.12268H71.1818L71.6003 10.3692C72.2299 9.25184 73.0835 8.36194 74.1646 7.69947C75.2456 7.03699 76.5211 6.7041 77.9845 6.7041V11.414H76.7288C75.7499 11.414 74.8798 11.5656 74.1118 11.8688C73.3439 12.172 72.744 12.6961 72.3156 13.4376C71.8838 14.1825 71.6696 15.2174 71.6696 16.5424V24.4295H67.2036V24.4328Z" fill="#782BF1"/>
        <path d="M88.7357 24.4322C86.9197 24.4322 85.4662 23.9906 84.372 23.1072C83.2777 22.2239 82.7306 20.6518 82.7306 18.3941V10.8564H79.7643V7.12208H82.7306L83.2547 2.48145H87.1999V7.12208H91.8767V10.8564H87.1999V18.4304C87.1999 19.2675 87.3812 19.8443 87.7404 20.1574C88.0997 20.4705 88.7226 20.6287 89.6092 20.6287H91.7746V24.4322H88.739H88.7357Z" fill="#782BF1"/>
        <path d="M0 24.6662V0.108398H4.49233V10.3191H15.5073V0.108398H19.9963V24.6662H15.5073V13.9644H4.49233V24.6662H0Z" fill="#782BF1"/>
        <path d="M106.412 24.9961C105.117 24.9961 103.966 24.7291 102.958 24.2017C101.949 23.6711 101.181 22.9295 100.651 21.9737L100.397 24.617H97.9775V1.69727H100.651V11.4367C101.158 10.672 101.886 9.98318 102.832 9.36685C103.775 8.75051 104.981 8.44399 106.445 8.44399C108.014 8.44399 109.385 8.80654 110.551 9.52505C111.718 10.2469 112.625 11.2323 113.274 12.4848C113.92 13.7372 114.246 15.1578 114.246 16.7497C114.246 18.3416 113.923 19.7589 113.274 20.9981C112.628 22.2407 111.715 23.2163 110.535 23.9282C109.358 24.6401 107.984 24.9928 106.412 24.9928V24.9961ZM106.125 22.6724C107.186 22.6724 108.119 22.4219 108.927 21.9243C109.734 21.4266 110.37 20.7311 110.835 19.838C111.303 18.9481 111.534 17.9066 111.534 16.72C111.534 15.5335 111.3 14.492 110.835 13.6021C110.367 12.7122 109.731 12.0168 108.927 11.5158C108.119 11.0181 107.186 10.7676 106.125 10.7676C105.064 10.7676 104.131 11.0181 103.323 11.5158C102.516 12.0135 101.88 12.7089 101.415 13.6021C100.947 14.492 100.716 15.5335 100.716 16.72C100.716 17.9066 100.95 18.9481 101.415 19.838C101.883 20.7278 102.519 21.4233 103.323 21.9243C104.131 22.4219 105.064 22.6724 106.125 22.6724Z"/>
        <path d="M117.964 24.6137V1.69727H120.637V24.617H117.964V24.6137Z"/>
        <path d="M132.225 24.9964C130.739 24.9964 129.404 24.6569 128.214 23.978C127.024 23.299 126.085 22.3399 125.396 21.0973C124.707 19.8548 124.361 18.398 124.361 16.7204C124.361 15.0427 124.711 13.586 125.413 12.3434C126.111 11.1008 127.064 10.1417 128.26 9.46277C129.46 8.78382 130.802 8.44434 132.288 8.44434C133.774 8.44434 135.109 8.78382 136.299 9.46277C137.489 10.1417 138.425 11.1008 139.117 12.3434C139.806 13.586 140.152 15.0427 140.152 16.7204C140.152 18.398 139.803 19.8548 139.101 21.0973C138.402 22.3399 137.449 23.299 136.253 23.978C135.053 24.6569 133.712 24.9964 132.225 24.9964ZM132.225 22.7057C133.138 22.7057 133.985 22.4816 134.773 22.0367C135.561 21.5917 136.194 20.9226 136.681 20.0328C137.169 19.1429 137.413 18.0387 137.413 16.7237C137.413 15.4086 137.176 14.3045 136.698 13.4146C136.22 12.5247 135.587 11.8556 134.803 11.4107C134.018 10.9657 133.181 10.7416 132.288 10.7416C131.395 10.7416 130.525 10.9657 129.74 11.4107C128.956 11.8556 128.32 12.5247 127.832 13.4146C127.344 14.3045 127.1 15.4086 127.1 16.7237C127.1 18.0387 127.344 19.1429 127.832 20.0328C128.32 20.9226 128.953 21.5917 129.727 22.0367C130.502 22.4816 131.335 22.7057 132.225 22.7057Z"/>
        <path d="M149.446 19.6501C148.557 19.6501 147.739 19.5347 146.994 19.3007L145.402 20.797C145.636 20.9684 145.926 21.1102 146.279 21.2255C146.628 21.3409 147.133 21.4496 147.792 21.5452C148.448 21.6408 149.371 21.743 150.56 21.8484C152.683 21.9968 154.199 22.4845 155.112 23.3118C156.025 24.1391 156.48 25.2201 156.48 26.5583C156.48 27.4713 156.229 28.3414 155.732 29.1686C155.234 29.9959 154.469 30.6749 153.441 31.2055C152.413 31.7362 151.091 31.9998 149.479 31.9998C148.059 31.9998 146.793 31.8153 145.692 31.4428C144.588 31.0704 143.728 30.5101 143.115 29.7553C142.499 29.0006 142.192 28.0513 142.192 26.9077C142.192 26.3144 142.35 25.6717 142.67 24.9828C142.987 24.294 143.583 23.6414 144.453 23.0251C143.985 22.8339 143.59 22.6263 143.26 22.4054C142.93 22.1813 142.627 21.9341 142.354 21.6573V20.9256L145.06 18.2526C143.807 17.1913 143.181 15.7906 143.181 14.0503C143.181 13.0121 143.425 12.0662 143.913 11.2158C144.4 10.3688 145.112 9.69312 146.045 9.19544C146.978 8.69775 148.115 8.44727 149.45 8.44727C150.363 8.44727 151.19 8.5758 151.932 8.82959H157.755V10.8335L154.796 10.962C155.412 11.8519 155.719 12.8836 155.719 14.0503C155.719 15.0918 155.468 16.0345 154.97 16.8848C154.473 17.7351 153.761 18.4075 152.838 18.9052C151.915 19.4029 150.785 19.6534 149.446 19.6534V19.6501ZM144.799 26.6539C144.799 27.7152 145.244 28.5062 146.137 29.0269C147.027 29.5477 148.141 29.8081 149.479 29.8081C150.818 29.8081 151.853 29.5213 152.647 28.9478C153.441 28.3743 153.84 27.6097 153.84 26.6572C153.84 25.9782 153.563 25.3882 153.013 24.8906C152.462 24.3929 151.44 24.0995 149.957 24.0138C148.791 23.9282 147.782 23.8227 146.935 23.6941C146.065 24.1622 145.491 24.6664 145.218 25.207C144.941 25.7475 144.803 26.232 144.803 26.6539H144.799ZM149.446 17.455C150.57 17.455 151.467 17.1649 152.136 16.5783C152.805 15.9949 153.138 15.1511 153.138 14.047C153.138 12.9429 152.805 12.1321 152.136 11.5487C151.467 10.9653 150.57 10.672 149.446 10.672C148.323 10.672 147.393 10.9653 146.724 11.5487C146.055 12.1321 145.722 12.966 145.722 14.047C145.722 15.1281 146.055 15.9949 146.724 16.5783C147.393 17.1616 148.299 17.455 149.446 17.455Z"/>
    </svg>
</a>

<style>
    a {
        display: flex;

        gap: 12px;
    }

    .logo-icon {
        fill: var(--c-primary);
    }

    .logo-text {
        fill: var(--c-text);
    }

    @media(max-width: 760px) {
        .logo-icon {
            fill: var(--c-text);
            width: auto;
            height: 35px;
        }

        .logo-text {
            display: none;
        }
    }
</style>