---
import "../styles/global.css";
import HeaderWave from "./HeaderWave.astro";
import Search from "./Search.svelte";
import ColorSchemeToggle from "./ColorSchemeToggle.svelte";
import HeaderLogo from "./HeaderLogo.astro";
---

<HeaderWave />

<nav>
  <HeaderLogo />

  <div class="right-section">
    <Search client:idle />
    <ColorSchemeToggle client:idle />
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    isolation: isolate;

    gap: 70px;
    
    width: 100%;
    max-width: 1280px;
    
    box-sizing: border-box;
    margin-top: clamp(30px, 1.6vw, 60px);
    margin-inline: auto;
    padding-inline: clamp(30px, 7vw, 60px);

    z-index: 2;
  }

  .right-section {
    display: flex;
    justify-content: right;
    align-items: center;

    flex: 1;

    gap: max(7vw, 15px);
  }
</style>
