---
import "../styles/global.css";
import Search from './Search.svelte';
import DarkLightToggle from "./DarkLightToggle.astro";
---

<div class="header-wrapper">
  <div class="header-content">
    <a class="logo-wrapper" href="/">
      <img class="header-logo-he4rt" src="/logo-he4rt.svg" alt="Logo da Heart" />
      <img
        class="header-logo-he4rtBlog"
        src="/logo-he4rt-blog.svg"
        alt="Logo da HeartBlog"
      />
    </a>

    <div class="right-section">
      <Search client:idle/>
    </div>
  </div>
</div>

<style>
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    box-sizing: border-box;

    width: 100%;
    padding: 50px 100px;
  }

  .header-wrapper:after {
    position: absolute;
    content: '';
    
    top: 0;
    left: 0;
    right: 0;
    
    height: 450px;
    width: 100vw;
    z-index: -1;
    
    background-image: url("/header-wave.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 900px) {
    .header-wrapper {
      flex-direction: column;
      padding: 50px;
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  .logo-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .header-logo-he4rt {
    width: 70px;
    height: 60px;

    padding: 0 12px;
  }

  .header-logo-he4rtBlog {
    width: 230px;
    height: 50px;

    padding: 8px;
  }

  .right-section {
    display: flex;
    align-items: center;

    gap: 50px;
  }
</style>
