---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/fonts.css";
import { getCollection } from "astro:content";
import { writeLocalIndexes } from "../integrations/searchIndexes/searchIndexes";

export interface Props {
	title: string;
}

//A função abaixo é chamada neste arquivo para que as indexes
//de pesquisa sejam atualizadas ao acessar qualquer página
await writeLocalIndexes(await getCollection("article"));

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<div class="container">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>

<style>
	.wrapper {
		overflow-x: hidden;

		min-height: 100vh;
		
		background-color: var(--c-background);
	}
	
	.container {
		display: flex;
		flex-direction: column;

		gap: 100px;
		
		max-width: 1250px;
		overflow-x: hidden;
		margin-inline: auto;
		padding: 0 1rem;
	}
</style>